<header>
  <div class="header-content">
  </div>
</header>
<div class="container">
  <h2>Add new eptituder</h2>
  <table>
    <tr>
      <td><label>Name</label></td>
      <td><input [(ngModel)]="newEptituder.name"/></td>
    </tr>
    <tr>
      <td><label>Side</label></td>
      <td>
        <select [(ngModel)]="newEptituder.side">
          <option value="good">good</option>
          <option value="evil">evil</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label>Eptitudes</label></td>
      <td><textarea [(ngModel)]="newEptituder.eptitudes"></textarea></td>
    </tr>
    <tr>
      <td><label>Biograpy</label></td>
      <td><textarea [(ngModel)]="newEptituder.bio"></textarea></td>
    </tr>
  </table>
  <input type="submit" (click)="save()">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Eptituder
        <small>List</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 portfolio-item" *ngFor="let eptituder of eptituderPage.eptituders">
      <h3>
        <a routerLink="/eptituders/{{eptituder.id}}">{{eptituder.name}}</a>
      </h3>
    </div>
  </div>
  <!--paging-->
  <div class="row text-center">
    <div class="col-lg-12">
      <form method="get" action="api/eptituders/csv" style="display: inline-block">
        <button type="submit" class="btn btn-success">Csv</button>
      </form>
      <form method="get" action="api/eptituders/xls" style="display: inline-block">
        <button type="submit" class="btn btn-info">Excel</button>
      </form>
      <form method="get" action="api/eptituders/pdf" style="display: inline-block">
        <button type="submit" class="btn btn-warning">Pdf</button>
      </form>
    </div>
  </div>
</div>
